[submodule "vars_plugins"]
	path = vars/vars_plugins
	url = git@github.com:j5pu/vars_plugins.git
[submodule "brew"]
	path = roles/brew
	url = git@github.com:j5pu/brew.git
[submodule "certs"]
	path = roles/certs
	url = git@github.com:j5pu/certs.git
[submodule "docker"]
	path = roles/docker
	url = git@github.com:j5pu/docker.git
[submodule "gpg"]
	path = roles/gpg
	url = git@github.com:j5pu/gpg.git
[submodule "nginx-revproxy"]
	path = roles/nginx-revproxy
	url = git@github.com:j5pu/nginx-revproxy.git
[submodule "package_install"]
	path = roles/package_install
	url = git@github.com:j5pu/package_install.git
[submodule "package_upgrade"]
	path = roles/package_upgrade
	url = git@github.com:j5pu/package_upgrade.git
[submodule "profile"]
	path = roles/profile
	url = git@github.com:j5pu/profile.git
[submodule "ssh"]
	path = roles/ssh
	url = git@github.com:j5pu/ssh.git
[submodule "sshd"]
	path = roles/sshd
	url = git@github.com:j5pu/sshd.git
[submodule "user"]
	path = roles/user
	url = git@github.com:j5pu/user.git
